body {
  background-color: rgb(245, 178, 151);
  margin: 0;
  padding: 0;
}

header {
  /*background-color: #4caf50;*/
  background-image: url("https://cdn.dribbble.com/users/5019/screenshots/129326/shot_1299896380.jpg");
  margin: 0 auto;
  height: 50px;
}

header h2 {
  padding: 10px;
  margin: 0;
}

.meme-space {
  padding-top: 10px;
  padding-bottom: 30px;
  border-top-style: dotted;
  border-bottom-style: dotted;
  border-left-style: dotted;
  border-right-style: dotted;
  border-width: 18px;
  border-color: rgb(3, 252, 57);
  padding: 6px;
  margin: 10px;
}

#form-div {
  margin: 10px;
  padding: 0;
  text-align: center;
}

#form-div h2 {
  font-family: cursive;
}

#form-div label {
  background-color: lightseagreen;
}

#content {
  text-align: center;
}

.btn-primary {
  background-color: rgb(155, 7, 253);
}

.img {
  max-width: 60%;
  height: auto;
  margin: 10px;
  padding: 10px;
}

.img-div {
  min-width: 120px;
  max-width: 100%;
  min-height: 120px;
  max-height: auto;
  text-align: center;
  margin: 5px;
  padding: 5px;
}

.text-input {
  width: 25%;
}